{
  "token": "Nzc2OTM3NTU0MzY4NTI4NDA1.X68Jew.rlWi_jARjrXyDOr8iDqLRj_fdkA",
  "prefix": "\",
  "owner_id": "123123123",
  "owner_reporting": false,
  "presence_refresh_interval": 600000,
  "disconnect_timeout": 300000
}
